html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
	padding:0;
	margin:0;
	max-width:100%;
	border:1px solid black;
}
html {
	font-size:62.5%;
}
body {
	font-size:1.8rem;
    line-height:1.5;
    color: #94b09b;
	font-family: Raleway, sans-serif;
	background-color:#4F4F4F;
}
h1, h2, h3 {
	letter-spacing: normal;
	font-family: 'Open Sans Condensed', sans-serif;
}
h1 {
	font-size:5rem;
}
h2 {
	font-size:3.5rem;
	color:#9b9d9e;
}
h3 {
	font-size:2rem;
}
p {
	color:#9b9d9e;
}
section {
	padding:3% 0;
}
a {
	text-decoration: none;
    letter-spacing:3px;
    color: #94b09b;
}
a:hover {
	color:lightpink;
}
i { 
    font-size:5rem;
}
header nav {
	display:flex;
	justify-content:space-between;
	flex-direction:column;
	align-items: center;
	top:0;
	height:15vh;
	position:fixed;
	width:50%;
	margin-top:2%;
}
.name {
	margin-left:13.5%;
	width:100%;
}
.name h1 {
	color:#9b9d9e;
}
.links{
	margin-left:13.5%;
	width:100%;
	display:flex;
	align-items:center;
	margin-bottom:2%;
	margin-top:2%;
}
.links a {
	transition:.3s;
	padding:0.5% 1%;
	border:1px solid gray;
}
.links a:hover{
	background-color: gray;
	transform: scale(1.5);
	padding:0.75% 0.75%;
	border-radius:15%;
	margin:0 0.5%;
	border:none;
}
.img-text {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	margin-top:12%;
}
.img-text .image {
	width:45%;
}
.img-text a {
	border:1px solid lightgray;
	margin-left:2%;
}
.image img {
	width:100%;
	height: 60vh;
}
.img-text .text {
	width:45%;
	line-height: 200%;
}
.text h2 {
	padding:2%;
}
.text a {
	padding:2%;
}
.img-text .text a:hover {
	text-decoration: underline;
}
.text p {
	padding:2%;
}
.gallery {
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	flex-wrap:wrap;
}
.gallery div {
	width:23%;
	margin:1% 0;
}
.gallery div img {
	width:100%;
}
.gallery div h3 {
	text-align:center;
	transition:.3s;
}
.gallery div h3:hover {
	background-color:white;
	border-radius:10%;
}
footer nav{
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:25vh;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.socials {
	padding:1%;
}

@media (max-width: 800px) { /*Tablet view*/
	header nav{
		position:absolute;
	}
	.links {
		margin-right:2%;
	}
	.img-text {
		margin-top:14%;
	}
	.img-text .text a {
		margin-left:2%;
	}
	.gallery div{
		width:47%;
	}
}

@media (max-width: 500px) { /*Phone view*/
	header {
		display:flex;
		justify-content: center;
		align-items: center;
		width:100%;
	}
	header nav{
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction:column;
		width:100%;
		height:38vh;
		position: absolute;
		margin:1% 0;
		margin-right:9.75%;
	}
	header nav .name {
		justify-content: center;
		width:100%;
		align-items:center;
	}
	header nav .name h1 {
		font-size:5rem;
	}
	.links {
		flex-direction: column;
	}
	.links a {
		padding:0.5% 2%;
	}
	header nav .home1 {
		padding:1% 4.25%;
	}
	header nav .about1 {
		padding:1% 4%;
	}
	header nav .contact1 {
		padding:1% 1.75%;
	}
	header nav .projects1 {
		padding:1% 1.25%;
	}
	.img-text {
		margin-top:50%;
		flex-direction:column;
		text-align:center;
	}
	.img-text .image {
		width:95%;
		margin-top:18%;
	}
	.img-text .text {
		width:95%;
	}
	.text h2, .text a, .text p {
		margin:1.5%;
	} 
	.gallery div {
		width:40%;
	}
	footer {
		height:25vh;
	}
} 

@media (max-width:360px) { /*Iphone 360x640*/
	header nav .links {
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.img-text {
		margin-top: 40%;
	}
}

@media (max-width:1366px) {/*Laptop 1366x768*/
/*Nothing to change, all looked good for this  size*/
}
/*Wide screen 1920×1080*/
/* @media (max-width:1920px){ 
	header nav .name{
		margin-top:5%;
	}
	header nav .name h1 {
		font-size:6rem;
	}
	header nav .links a {
		padding:3%;
		font-size:3rem;
	}
	.img-text {
		margin-top:15%;
	}
	.img-text .text h2 {
		font-size:5rem;
		margin-bottom:5%;
	}
	.img-text .text a {
		font-size: 3.50rem;
	}
	p {
		font-size: 2.75rem;
		margin-top:3%;
	}
	footer nav h2 {
		font-size:5.25rem;
	}
	footer nav div a {
		font-size:4rem;
	}
	footer nav div .socials {
		font-size: 3.5rem; 
	}
}  */