/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
	/* overflow:hidden; */
	font-size:62.5%;
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	border: 1px solid black;
}
body {background-color:lightblue;}
header {
	max-width:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom: 1rem;
	padding-top: 0.5rem;
}
h1 {
	display:flex;
	align-items:center;
	font-size: 3rem;
	margin-left:0.75rem;
	font-family: 'Shadows Into Light', cursive;
}
.links {
	display:flex;
	align-items:center;
	margin-right:1rem;
}
.links a{
	border: 1px solid black;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	padding: 0.75rem 1.5rem;
	margin: 2rem 0.75rem;
	text-decoration:none;
	font-size: 1rem;
	margin:auto;
	color:black;
	background-color:lightgray;
	border-radius:5%;
	font-family: 'Shadows Into Light', cursive;
}

.intro {
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	background:url(https://i.picsum.photos/id/958/800/800.jpg?hmac=RmOB-ZsSX_fSj6pysuN8heR66NRTM6rNFrUWimQ-WH4) no-repeat;
	width:50%;
	height: 40vh; 
	background-position:center;
	background-size:100%;
	font-size: 3.5rem;
	color:black;
	flex-wrap:wrap;
	text-align:center;
}
 h2{
	text-align:center;
	font-family: 'Shadows Into Light', cursive;
	color:white;
}
.intro a {
	text-decoration: none;
	color: black;
	padding: 2%;
	font-family: 'Shadows Into Light', cursive;
	color:white;
}
.gallery {
	width:80%;
	display:flex;
	justify-content: space-evenly;
	align-items:center;
	flex-flow: row wrap;
	margin-left:auto;
	margin-right:auto;
	padding:2% 5%;
}
.gallery h3{
	display:flex;
	justify-content:center;
	padding-top: 2%;
	padding-bottom: 4%;
	font-family: 'Shadows Into Light', cursive;
}
footer{
	width:100%;
	background-color:pink;
	height:15vh;
}
footer nav {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;
	padding:2%;
	background-color:lightgray;
	font-family: 'Shadows Into Light', cursive;
}
#socials {
	display:flex;
	justify-content:space-evenly;
	flex-direction:row;
	width: 15%;
	padding-top:0.75%;
	font-family: 'Shadows Into Light', cursive;
}
footer nav a {
	text-decoration:none;
	font-family:;
	color:black;
	padding:0.5% 0.75%;
	background-color:lightblue;
	border-radius:25px;
	font-family: 'Shadows Into Light', cursive;
}
footer nav a {
	padding:1% 1%;
}